<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ config('app_name') }}</title>

		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,600"
			rel="stylesheet"
		/>

		<!-- Styles -->
		<style>
			html,
			body {
				background-color: #fff;
				color: #636b6f;
				font-family: "Nunito", sans-serif;
				font-weight: 200;
				height: 100vh;
				margin: 0;
			}

			.full-height {
				height: 100vh;
			}

			.flex-center {
				align-items: center;
				display: flex;
				justify-content: center;
			}

			.position-ref {
				position: relative;
			}

			.content {
				text-align: center;
			}

			.title {
				font-size: 100px;
			}

			.m-b-md {
				margin-bottom: 30px;
			}
		</style>
	</head>

	<body>
		<div class="flex-center position-ref full-height">
			<div class="content">
				<div class="title m-b-md">
					Welcome {{ name }}
				</div>
				<form action="posts" method="POST">
					<?php
                form_method("PATCH");
                ?>
					<button type="submit">Send</button>
				</form>
			</div>
		</div>
	</body>
</html>
